@import "style.css";

body {
    height: 100vh;
    background: whitesmoke;
}

main article {
    padding-top: 100px;
    padding-left: 38px; padding-right: 38px;
    
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
}

#filters-col, #projects-col {
    padding: 2rem;
}

#filters-col {
    border-right: 1.5px solid #dedede;
}

#filters-col h5 {
    margin: 0 0 1rem 0;
    color: var(--dark-coffee);
}

.filter-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.filter-button {
    padding: 6px 12px;
    background-color: whitesmoke;
    color: var(--dark-coffee);
    border: 1.5px solid var(--dark-coffee);
    border-radius: 0.5rem;
    font-family: inherit;
    font-size: var(--small);
    cursor: pointer;

    transition: background-color 0.2s ease, color 0.2s ease;
}

.filter-button:hover {
    background-color: #e0dfdd;
}

.filter-button.active {
    background-color: var(--dark-coffee);
    color: white;
}

#projects-col {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1rem;
}

#projects-col a {
    background-color: white;
    border-radius: 0.5rem;
    text-decoration: none;
}

#projects-col .project-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
}

#projects-col .project-tags span {
    padding: 3px;
    background-color: none;
    color:#a2a2a2;
    border: 1.5px solid #a2a2a2;
    border-radius: 0.5rem;
}

#projects-col .project-card {
    padding: 16px;
    height: fit-content;
}

#projects-col .project-card p {
    margin: 0;
    padding-top: 18px;
}

#projects-col .project-card > div:first-child {
    padding-bottom: 6px;
    display: grid;
    grid-template-columns: minmax(0,3fr) minmax(0,1fr);
    grid-template-rows: auto;
    flex-direction: row;
    align-items: center;
}

#projects-col .project-card div:first-child h2, #projects-col .project-card > div:first-child span {
    min-width: 0;
    overflow-wrap: break-word;
}

#projects-col .project-card div:first-child h4, #projects-col .project-card > div:first-child span {
    align-self: start;
}

#projects-col .project-card > div h4 {
    color: var(--dark-coffee);
    margin: 0;
    line-height: 1.8ch;
}

#projects-col .project-card > div:first-child span {
    text-align: right;
    background-color: none;
    color: #a2a2a2;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {  
    #filters-col, #projects-col {
        padding: 2rem 0;
    }
    #projects-col .project-card > div:first-child {
        grid-template-columns: 1fr;
    }
    #projects-col .project-card > div:first-child span {
        text-align: left;
    }
}

@media screen and (max-width: 800px) {
    main article {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    #filters-col {
        border-right: none;
        border-bottom: 1.5px solid #dedede;
    }
}