main section:nth-child(2) {
    padding-top: 0;
    padding-left: 38px; padding-right: 38px;
    background: whitesmoke;
}

main section:nth-child(2) > p {
    margin-top: 3.2rem;
    margin-bottom: 0;
    font-size: 2.5rem;
    text-align: center;
}

#projects {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

}

#projects .button-container {
    width: fit-content;
    align-self: center;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

button {
    padding: 10px;
    
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    color:#7d766f;
    background-color: whitesmoke;
    text-align: center;
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(230, 229, 229);
}

button:first-child {
    background-color: rgb(210, 207, 207);
}

#projects > p {
    margin-bottom: 30px;
}

.img-container {
    margin: 0;
    width: 100%;
    height: fit-content;

    align-self: center;
    
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    gap: 20px;
}

.img-container figure {
    margin: 0;
    width: 100%;
    max-height: fit-content;
}

.img-container figure figcaption {
    font-size: 0.75rem;
}

.img-container figure img {
    width: 100%;
    height: auto;
    border: white solid 10px;
    border-radius: 0.3rem;
    box-shadow: 0px 1px 9px rgb(202, 202, 202);
}

@media (min-width: 768px) and (max-width: 978px) {
    .img-container {
        grid-template-columns: 1fr 1fr;
    }
    .img-container figure {
        grid-column: span 1;
    }
}

@media (min-width: 979px) {
  .img-container {
    grid-template-columns: repeat(4, 1fr);
  }
  .img-container figure {
    grid-column: span 1; /* default */
  }
  .img-container figure.landscape {
    grid-column: span 2; /* landscape spans 2 columns */
  }
}